<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MorkoBot" connectionString="Data Source=TOWERSQL01;Initial Catalog=MorkoBot;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="MorkoDev" connectionString="Server=(localdb)\mssqllocaldb;Database=MorkoBotRavenEdition.Database;Trusted_Connection=True;MultipleActiveResultSets=true" />
  </connectionStrings>
  <appSettings>
    <add key="BotToken" value="MzI5NzA3OTUyMDM2MzgwNjc0.DDWYAg.lYWBWJ1j3FFFR59bEZ8bGc8Yv8I" />
    <add key="DevToken" value="NDM5NDk3MDQ0MTk3OTAwMjg5.DcUCEQ.Q-m0Li5gHxP_bf8ooQrVI78KEiM" />
    <add key="WikiConnectionString" value="Endpoint=sb://nullification.servicebus.windows.net/;SharedAccessKeyName=MorkoBotListenPolicy;SharedAccessKey=IWP/YrMuQJ9YttsgOEYw8a6QKEbzA05ws2f/21oXoeM=" />
    <add key="WikiUrl" value="https://stalburg.arctar.us" />
    <add key="DefaultChannelId" value="345940219473690624" />
    <add key="DefaultGuildId" value="291497857725366272" />
    <add key="WikiChannelId" value="351402371886088192" />
    <add key="StaffChannelId" value="334056189858021390"/>
  </appSettings>
</configuration>